/// Container's maximum width
/// @type Length
$max-width: 1440px !default;

/// Container's minimum width
/// @type Length
$min-width: 360px !default;

/// @type Color
$graphite-color: #565961 !default;
