.gallows {
  &-container {
    img {
      max-width: 100%;
      height: auto;
      @include breakpoint-down(large) {
        max-width: 80%;
      }
    }
    @include breakpoint-down(small) {
      margin-bottom: 16px;
    }
  }

  &-body {
    position: relative;
    top: -432px;
    left: 254px;
    @include breakpoint-down(large) {
      max-width: 80%;
      top: -344px;
      left: 194px;
    }
    @include breakpoint-down(medium) {
      top: -344px;
      left: 192px;
      margin-bottom: 16px;
    }

    @include breakpoint-down(small) {
      max-width: 60%;
      top: -314px;
      left: 182px;
    }

    @include breakpoint-down(adjusted-small) {
      top: -300px;
      left: 164px;
    }

    #head {
      position: absolute;
    }
    #body {
      position: absolute;
      top: 104px;
      left: 47px;
    }
    #hand-one {
      position: absolute;
      top: 110px;
      left: -24px;
    }
    #hand-two {
      position: absolute;
      top: 110px;
      left: 55px;
    }
    #leg-one {
      position: absolute;
      top: 240px;
      left: -24px;
    }
    #leg-two {
      position: absolute;
      top: 240px;
      left: 55px;
    }
  }
}
