.hint {
  max-width: 600px;
  padding-bottom: 32px;
  font-size: larger;
}

.letter {
  width: 60px;
  height: 56px;
  font-size: larger;
  font-weight: bold;
  background-color: #fff;
  margin: 0 8px 32px;
  border-radius: 16px;
}
