.quiz {
  &-word {
    @include breakpoint-down(medium) {
      div {
        width: 50px;
        height: 44px;
      }
    }
    @include breakpoint-down(small) {
      div {
        width: 30px;
        height: 24px;
        border-radius: 8px;
      }
    }
  }
}

.hint {
  max-width: 600px;
  padding-bottom: 32px;
  font-size: larger;
}

.letter {
  width: 60px;
  height: 56px;
  font-size: larger;
  font-weight: bold;
  background-color: #fff;
  margin: 0 8px 32px;
  border-radius: 16px;
}

.counter {
  color: red;
}
