.flex {
  display: flex;

  &-fd-row {
    flex-direction: row;
  }
  &-fd-column {
    flex-direction: column;
  }
  &-fw-wrap {
    flex-wrap: wrap;
  }
  &-jc-center {
    justify-content: center;
  }
  &-jc-start {
    justify-content: flex-start;
  }
  &-jc-space-evenly {
    justify-content: space-evenly;
  }
  &-ai-center {
    align-items: center;
  }
  &-as-stretch {
    align-self: stretch;
  }
}
